---
import { db, Redirects } from "astro:db";
import { Button } from "../ui/button";
import { Input } from "../ui/input";
import { Label } from "../ui/label";

if (Astro.request.method === "POST") {
	// parse form data
	const formData = await Astro.request.formData();
	const slug = formData.get("name");
	const to = formData.get("url");
	console.log(slug, to);
	if (typeof slug === "string" && typeof to === "string" && slug.length > 0 && to.length > 0 ) {
		// insert form data into the Comment table
		await db
			.insert(Redirects)
			.values({ to: to, slug: slug })
			.then(() => {
				console.log("Data inserted successfully");
			});
	}
}
const redirects = await db.select().from(Redirects).all();
---

<form
	method="POST"
	class="flex justify-center items-center gap-2 flex-col w-full lg:p-8 p-6 border-primary/50 hover:border-primary/80 transition-all duration-300 ease-in-out  border max-w-lg rounded-lg"
>
	<Label className="lg:text-xl text-lg font-bold" htmlFor="name">
		Name / Slug
	</Label>
	<p class="text-balance text-sm text-muted-foreground max-w-xs">
		The name of the link which will be used as the slug. <br /> For example,
		if you enter "My Link", the link will be accessible at
		<code>visitmyl.ink/my-link</code>.
	</p>
	<Input id="name" name="name" />
	<Label className="lg:text-xl text-lg font-bold" htmlFor="url">
		URL / Link
		</Label>
	<p class="text-balance text-sm text-muted-foreground max-w-xs">
		The URL of the link.<br /> For example, if you enter
		<code>https://my-link.com</code>, the link will be accessible at
		<code>visitmyl.ink/my-link</code>.
	</p>
	<Input id="url" name="url" />
	<Button type="submit" className="w-full mt-4 lg:text-xl text-lg font-bold">Add Link</Button>
	{redirects.map((redirect) => (
		<p class="text-sm text-muted-foreground">
			{redirect.slug} -> {redirect.to}
		</p>
	))}
</form>

<!--render `comments`-->
